body{
    background-color: #c2b3b3;
}
.container{
    border:  5px solid black;
    width: 330px;
    height: 500px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.842);
}

.screen{
    border: 5px solid rgb(13, 20, 151);
    margin: 25px 5px;
    height: 20%;
    width: 93%;
    border-radius: 8px;
    font-size: 30px;
    background-color: rgba(127, 255, 212, 0.861);

}
.tab-container{
    border: 2px solid black;
    height: 55%;
    margin: 43px 5px 5px 5px;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: gray;

}
.tab{
    margin: 3px 0;
    width: 60px;
    height: 60px;
    border-radius: 8px;
    box-shadow: rgba(22, 21, 21, 0.605);
    padding: 2px;
    font-size: 18px;
    border: 1px solid black;


}
.tab:hover{
    font-size: 25px;
    background-color:rgb(166, 171, 171);
}